In [1]:
# load messy csv dataset

import pandas as pd
df_healthcare_raw = pd.read_csv("C:/Users/j/OneDrive/Desktop/Projects - Data Science/Data Cleaning/Healthcare Data Cleaning/raw_healthcare_data.csv")

In [2]:
df_healthcare_raw.head()

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number
0,david lee,25,Other,Heart Disease,METFORMIN,01/15/2020,140/90,200.0,name@hospital.org,555-555-5555
1,emily davis,NaN,Male,Diabetes,NONE,"April 5, 2018",120/80,200.0,NaN,NaN
2,laura martinez,35,Other,Asthma,METFORMIN,2019.12.01,110/70,160.0,contact@domain.com,NaN
3,michael wilson,NaN,Male,Diabetes,ALBUTEROL,01/15/2020,110/70,NaN,name@hospital.org,555-555-5555
4,david lee,NaN,Female,Asthma,NONE,2020/02/20,110/70,180.0,NaN,

In [3]:
# strip trailing spaces from all string columns
for column in df_healthcare_raw.select_dtypes(include=['object']).columns:
    df_healthcare_raw[column] = df_healthcare_raw[column].str.strip()

In [4]:
# correct non-numeric and missing numeric values in columns (age)

import numpy as np
# replacing non-numeric values with exact numeric values
df_healthcare_raw['Age'] = df_healthcare_raw['Age'].replace({
    'forty': 40
})

# convert Age column to numeric values, forcing errors to NaN
df_healthcare_raw['Age'] = pd.to_numeric(df_healthcare_raw['Age'], errors='coerce')

# fill missing or NaN values with the median age
median_age = df_healthcare_raw['Age'].median()
df_healthcare_raw['Age'].fillna(median_age, inplace=True)

df_healthcare_raw['Age'] = df_healthcare_raw['Age'].astype(int)

df_healthcare_raw['Age'].head()

C:\Users\j\AppData\Local\Temp\ipykernel_2660\2780004291.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_healthcare_raw['Age'].fillna(median_age, inplace=True)

0    25
1    40
2    35
3    40
4    40
Name: Age, dtype: int32

In [5]:
# comparing mean and median ages to understand the best fit for use.

overall_mean = df_healthcare_raw['Age'].mean()
overall_median = df_healthcare_raw['Age'].median()
print(f'Overall Mean Age: {overall_mean}')
print(f'Overall Median Age: {overall_median}')

Overall Mean Age: 44.85
Overall Median Age: 40.0

In [6]:
# correct non-numeric values in laboratory readings
# correct non-numeric values in cholesterol column
df_healthcare_raw['Cholesterol'] = pd.to_numeric(df_healthcare_raw['Cholesterol'], errors='coerce')

# fill NaN values with the median cholesterol
median_Cholesterol = df_healthcare_raw['Cholesterol'].median()
df_healthcare_raw['Cholesterol'].fillna(median_Cholesterol, inplace=True)

df_healthcare_raw['Cholesterol'] = df_healthcare_raw['Cholesterol'].astype(int)

df_healthcare_raw['Cholesterol'].head()

C:\Users\j\AppData\Local\Temp\ipykernel_2660\451379160.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_healthcare_raw['Cholesterol'].fillna(median_Cholesterol, inplace=True)

0    200
1    200
2    160
3    180
4    180
Name: Cholesterol, dtype: int32

In [7]:
# correct non-numeric values in blood pressure column
# Extract the systolic part of the Blood Pressure column
df_healthcare_raw['Systolic_BP'] = df_healthcare_raw['Blood Pressure'].str.split('/').str[0].astype(float)

# Calculate the median of the Systolic Blood Pressure
median_systolic_bp = df_healthcare_raw['Systolic_BP'].median()
print("Median Systolic Blood Pressure:", median_systolic_bp)

# Fill NaN values in the Blood Pressure column with the median systolic BP as a placeholder
df_healthcare_raw['Systolic_BP'].fillna(median_systolic_bp, inplace=True)

Median Systolic Blood Pressure: 130.0

C:\Users\j\AppData\Local\Temp\ipykernel_2660\2011852235.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_healthcare_raw['Systolic_BP'].fillna(median_systolic_bp, inplace=True)

In [8]:
# Split the 'Blood Pressure' column into 'Systolic' and 'Diastolic' columns
df_healthcare_raw[['Systolic', 'Diastolic']] = df_healthcare_raw['Blood Pressure'].str.split('/', expand=True)

# Convert the new 'Systolic' and 'Diastolic' columns to numeric, handling non-numeric values as NaN
df_healthcare_raw['Systolic'] = pd.to_numeric(df_healthcare_raw['Systolic'], errors='coerce')
df_healthcare_raw['Diastolic'] = pd.to_numeric(df_healthcare_raw['Diastolic'], errors='coerce')

# Fill missing values
median_systolic = df_healthcare_raw['Systolic'].median()
median_diastolic = df_healthcare_raw['Diastolic'].median()
df_healthcare_raw['Systolic'].fillna(median_systolic, inplace=True)
df_healthcare_raw['Diastolic'].fillna(median_diastolic, inplace=True)

# Recreate the 'Blood Pressure' column
df_healthcare_raw['Blood Pressure'] = df_healthcare_raw['Systolic'].astype(int).astype(str) + '/' + df_healthcare_raw['Diastolic'].astype(int).astype(str)

C:\Users\j\AppData\Local\Temp\ipykernel_2660\2150376930.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_healthcare_raw['Systolic'].fillna(median_systolic, inplace=True)
C:\Users\j\AppData\Local\Temp\ipykernel_2660\2150376930.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_healthcare_raw['Diastolic'].fillna(median_diastolic, inplace=True)

In [9]:
print(df_healthcare_raw[['Systolic', 'Diastolic', 'Blood Pressure']].head(10))

   Systolic  Diastolic Blood Pressure
0     140.0       90.0         140/90
1     120.0       80.0         120/80
2     110.0       70.0         110/70
3     110.0       70.0         110/70
4     110.0       70.0         110/70
5     140.0       90.0         140/90
6     120.0       80.0         120/80
7     130.0       85.0         130/85
8     140.0       90.0         140/90
9     140.0       90.0         140/90

In [10]:
# view the various date types in dataset

print(df_healthcare_raw['Visit Date'].unique())

['01/15/2020' 'April 5, 2018' '2019.12.01' '2020/02/20' '03-25-2019']

In [11]:
# Function to standardize dates into a consistent `YYYY-MM-DD` format
def standardize_date(date):
    formats = ['%m/%d/%Y', '%B %d, %Y', '%Y.%m.%d', '%Y/%m/%d', '%m-%d-%Y']
    for fmt in formats:
        try:
            return pd.to_datetime(date, format=fmt)
        except ValueError:
            continue
    return pd.NaT  # If all formats fail, return NaT

# Apply the function to the column
df_healthcare_raw['Visit Date'] = df_healthcare_raw['Visit Date'].apply(standardize_date)

# Format all valid dates to 'YYYY-MM-DD'
df_healthcare_raw['Visit Date'] = df_healthcare_raw['Visit Date'].dt.strftime('%Y-%m-%d')

# View the result
print(df_healthcare_raw)

       Patient Name  Age  Gender      Condition    Medication  Visit Date  \
0         david lee   25   Other  Heart Disease     METFORMIN  2020-01-15
1       emily davis   40    Male       Diabetes          NONE  2018-04-05
2    laura martinez   35   Other         Asthma     METFORMIN  2019-12-01
3    michael wilson   40    Male       Diabetes     ALBUTEROL  2020-01-15
4         david lee   40  Female         Asthma          NONE  2020-02-20
..              ...  ...     ...            ...           ...         ...
995      mary clark   70   Other         Asthma     ALBUTEROL  2019-03-25
996      mary clark   40   Other            NaN    LISINOPRIL  2020-01-15
997  laura martinez   40   Other            NaN     ALBUTEROL  2020-02-20
998      jane smith   25    Male            NaN     ALBUTEROL  2018-04-05
999    james taylor   40    Male       Diabetes  ATORVASTATIN  2020-02-20

    Blood Pressure  Cholesterol               Email  Phone Number  \
0           140/90          200   name@hospital.org  555-555-5555
1           120/80          200                 NaN           NaN
2           110/70          160  contact@domain.com           NaN
3           110/70          180   name@hospital.org  555-555-5555
4           110/70          180                 NaN
..             ...          ...                 ...           ...
995         110/70          180   name@hospital.org           NaN
996         130/85          160                 NaN  123-456-7890
997         110/70          180   name@hospital.org           NaN
998         110/70          200                 NaN
999         120/80          220                 NaN  123-456-7890

     Systolic_BP  Systolic  Diastolic
0          140.0     140.0       90.0
1          120.0     120.0       80.0
2          110.0     110.0       70.0
3          110.0     110.0       70.0
4          110.0     110.0       70.0
..           ...       ...        ...
995        110.0     110.0       70.0
996        130.0     130.0       85.0
997        110.0     110.0       70.0
998        110.0     110.0       70.0
999        120.0     120.0       80.0

[1000 rows x 13 columns]

In [12]:
# view distinct conditions in dataset

print(df_healthcare_raw['Condition'].unique())

['Heart Disease' 'Diabetes' 'Asthma' 'Hypertension' nan]

In [13]:
# view distinct medications in dataset

print(df_healthcare_raw['Medication'].unique())

['METFORMIN' 'NONE' 'ALBUTEROL' 'LISINOPRIL' 'ATORVASTATIN']

In [14]:
# Define correct condition-to-medication mapping
correct_mapping = {
    'Diabetes': 'METFORMIN',
    'Heart Disease': 'ATORVASTATIN',
    'Hypertension': 'LISINOPRIL',
    'Asthma': 'ALBUTEROL',
    None: 'NONE'  # For 'nan' or None condition, set medication to 'NONE'
}

In [15]:
# Function to clean and validate medication based on condition
def clean_medication(row):
    condition = row['Condition']
    # Check if the medication matches the correct mapping for the condition
    if row['Medication'] != correct_mapping.get(condition, None):
        return correct_mapping.get(condition, 'NONE')  # If mismatch, replace with the correct medication
    return row['Medication']  # If it's correct, keep the same

In [16]:
# Apply the function to the dataset
df_healthcare_raw['Medication'] = df_healthcare_raw.apply(clean_medication, axis=1)

# View the cleaned dataset
print(df_healthcare_raw)

       Patient Name  Age  Gender      Condition    Medication  Visit Date  \
0         david lee   25   Other  Heart Disease  ATORVASTATIN  2020-01-15
1       emily davis   40    Male       Diabetes     METFORMIN  2018-04-05
2    laura martinez   35   Other         Asthma     ALBUTEROL  2019-12-01
3    michael wilson   40    Male       Diabetes     METFORMIN  2020-01-15
4         david lee   40  Female         Asthma     ALBUTEROL  2020-02-20
..              ...  ...     ...            ...           ...         ...
995      mary clark   70   Other         Asthma     ALBUTEROL  2019-03-25
996      mary clark   40   Other            NaN          NONE  2020-01-15
997  laura martinez   40   Other            NaN          NONE  2020-02-20
998      jane smith   25    Male            NaN          NONE  2018-04-05
999    james taylor   40    Male       Diabetes     METFORMIN  2020-02-20

    Blood Pressure  Cholesterol               Email  Phone Number  \
0           140/90          200   name@hospital.org  555-555-5555
1           120/80          200                 NaN           NaN
2           110/70          160  contact@domain.com           NaN
3           110/70          180   name@hospital.org  555-555-5555
4           110/70          180                 NaN
..             ...          ...                 ...           ...
995         110/70          180   name@hospital.org           NaN
996         130/85          160                 NaN  123-456-7890
997         110/70          180   name@hospital.org           NaN
998         110/70          200                 NaN
999         120/80          220                 NaN  123-456-7890

     Systolic_BP  Systolic  Diastolic
0          140.0     140.0       90.0
1          120.0     120.0       80.0
2          110.0     110.0       70.0
3          110.0     110.0       70.0
4          110.0     110.0       70.0
..           ...       ...        ...
995        110.0     110.0       70.0
996        130.0     130.0       85.0
997        110.0     110.0       70.0
998        110.0     110.0       70.0
999        120.0     120.0       80.0

[1000 rows x 13 columns]

In [17]:
# Ensuring both first and second names in the 'Patient Name' column start with a capital letter
df_healthcare_raw['Patient Name'] = df_healthcare_raw['Patient Name'].str.title()

In [18]:
# Remove the unnecessary columns
df_healthcare_raw = df_healthcare_raw.drop(columns=['Systolic_BP', 'Systolic', 'Diastolic'])

# View the updated dataset changes made
print(df_healthcare_raw)

       Patient Name  Age  Gender      Condition    Medication  Visit Date  \
0         David Lee   25   Other  Heart Disease  ATORVASTATIN  2020-01-15
1       Emily Davis   40    Male       Diabetes     METFORMIN  2018-04-05
2    Laura Martinez   35   Other         Asthma     ALBUTEROL  2019-12-01
3    Michael Wilson   40    Male       Diabetes     METFORMIN  2020-01-15
4         David Lee   40  Female         Asthma     ALBUTEROL  2020-02-20
..              ...  ...     ...            ...           ...         ...
995      Mary Clark   70   Other         Asthma     ALBUTEROL  2019-03-25
996      Mary Clark   40   Other            NaN          NONE  2020-01-15
997  Laura Martinez   40   Other            NaN          NONE  2020-02-20
998      Jane Smith   25    Male            NaN          NONE  2018-04-05
999    James Taylor   40    Male       Diabetes     METFORMIN  2020-02-20

    Blood Pressure  Cholesterol               Email  Phone Number
0           140/90          200   name@hospital.org  555-555-5555
1           120/80          200                 NaN           NaN
2           110/70          160  contact@domain.com           NaN
3           110/70          180   name@hospital.org  555-555-5555
4           110/70          180                 NaN
..             ...          ...                 ...           ...
995         110/70          180   name@hospital.org           NaN
996         130/85          160                 NaN  123-456-7890
997         110/70          180   name@hospital.org           NaN
998         110/70          200                 NaN
999         120/80          220                 NaN  123-456-7890

[1000 rows x 10 columns]

In [19]:
# Apply title case to the 'Medication' column
df_healthcare_raw['Medication'] = df_healthcare_raw['Medication'].str.title()

In [20]:
print(df_healthcare_raw)

       Patient Name  Age  Gender      Condition    Medication  Visit Date  \
0         David Lee   25   Other  Heart Disease  Atorvastatin  2020-01-15
1       Emily Davis   40    Male       Diabetes     Metformin  2018-04-05
2    Laura Martinez   35   Other         Asthma     Albuterol  2019-12-01
3    Michael Wilson   40    Male       Diabetes     Metformin  2020-01-15
4         David Lee   40  Female         Asthma     Albuterol  2020-02-20
..              ...  ...     ...            ...           ...         ...
995      Mary Clark   70   Other         Asthma     Albuterol  2019-03-25
996      Mary Clark   40   Other            NaN          None  2020-01-15
997  Laura Martinez   40   Other            NaN          None  2020-02-20
998      Jane Smith   25    Male            NaN          None  2018-04-05
999    James Taylor   40    Male       Diabetes     Metformin  2020-02-20

    Blood Pressure  Cholesterol               Email  Phone Number
0           140/90          200   name@hospital.org  555-555-5555
1           120/80          200                 NaN           NaN
2           110/70          160  contact@domain.com           NaN
3           110/70          180   name@hospital.org  555-555-5555
4           110/70          180                 NaN
..             ...          ...                 ...           ...
995         110/70          180   name@hospital.org           NaN
996         130/85          160                 NaN  123-456-7890
997         110/70          180   name@hospital.org           NaN
998         110/70          200                 NaN
999         120/80          220                 NaN  123-456-7890

[1000 rows x 10 columns]

In [21]:
df_healthcare_raw.to_csv('cleaned_healthcare_data.csv', index=False)